<h1>Allergy Checker</h1>

<p>Enter a number, to see your allergies.</p>

<form action='/return' method='get'>
  <div class="form-group">
    <label for="userInput">Word</label>
    <input id="userInput" name="userInput" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Get total</button>
</form>
